/* Contents */
.title {
    text-align: center;
    font-size:150%;
    margin: 1.5%;
}

#Welcome, #Describe, #Parents{
    padding: 20px;
    margin:1.5% 5%;
    border-radius: 10px;
    text-align: center;
}

h2{
    font-size: 130%;
}

#Welcome p, #Describe p, #Parents p{
    font-size: 120%;
}

#Describe span{
    margin: 2% 0% 2% 0%;
    font-style: italic;
    font-size: 90%;
}

#Describe .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    font-size: 80%;
    text-align: justify;
    padding: 20px;
    margin: 2%;
    border-radius: 10px;
    background-color: var(--color-tertiary);
}

.notice {
    border-style: dashed;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 200px;
}

.container.reversed {
    grid-template-columns: 2fr 3fr; /* image 40%, text 60% */
    direction: rtl; /* reverses the order */
}

.container.reversed > * {
    direction: ltr; /* restores normal text direction */
}

.container p.bold {
    font-size: 150% !important;
    font-weight: bold;
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.links img {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.links img:hover {
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

#Tanuki {
    object-position: 90% 50%;
}

.text-links {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    text-align: center;
}

/* Media Query */
@media(max-width: 200px) {
    #Describe .container {
        display: block;
        flex-direction: row;
    }
    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        order: 1;
    }
    .links img{
        height: 20px;
        width: 30%;
    }
}