#School {
    padding: 40px;
    margin:1.5% 5%;
    border-radius: 10px;
    text-align: center;
}

.register {
    display: grid;
}

.form {
    margin-top: 20px;
}
.form a {
    text-decoration: underline;
}

/* 講師自己紹介 */
.teachers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 24px;
}

.introduction {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
.names {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.names h3 {
    position: relative;
    padding: 15px 20px;
    background-color: var(--color-primary);
    color: white;
    width: 80%;
    z-index: 2;
}
.names h3:before {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid var(--color-extra2);
}
.names img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-extra2);
}

.class-photo {
    height: 50%;
}